@{
    ViewData["Title"] = "Characters";
}
<h2>1. Han Solo <br> <img src="~/images/a/1.jpg"></h2>
<p>
    Han Solo passed the ultimate litmus test of a character's popularity: every kid, in every playground, since 1977, wanted to play him. He just made it all work. Surly, wisecracking, dismissive, a dab hand with a blaster, the best pilot-smuggler in the galaxy, and best friends with a Wookiee. Jedis can go hang - we're with the cool cat in the waistcoat.

    George Lucas managed to launch Steve McQueen's Cooler King, Clint Eastwood's Blondie, Vegas-era Elvis, Frank Sinatra, JFK, Lenny Bruce and goddamn Indiana Jones (although we didn't know it yet) into space, all of them crammed into the handsome body of one Harrison Ford, one-time carpenter, shortly to become the biggest star in the world.

    Forget the Force, forget Vader's overarching tragedy, forget the Death Star and lightsabers and Leia in that slave-girl bikini get-up. When it comes to what makes Star Wars the greatest fucking science-fiction story ever told, the answer is Han Solo.

    "Hokey religions and ancient weapons are no match for a good blaster at your side, kid," he quoted with a superiority gained through nothing but cocky self-confidence. Right there, Lucas realised this would be the making of the character who had started life as a green-skinned alien with gills.

    When he arrives in the movie - actually when the movie arrives at his table at the back of the Cantina - the saga springs to life in a way we never could have imagined. It becomes cool. Ford's rancour remained throughout the shoot, but the character grew and grew, feeding off his spiky backhanders.

    The part is smartly written and grows with each film, hidden depths emerging from beneath the 'space cowboy' swagger, and an unforeseen romance blossoms. This was the first of the sequel's many shock turns - we were still suffering under the illusion Luke was going to romance Leia. Ford's sparring with Fisher deviated into Bogart/Bacall territory: a film about space knights and shiny droids was gaining, of all things, sass. Solo was giving us his second gift - beyond the cool we were getting heart. Jeez, the ending of The Empire Strikes Back is savage.

    Any other actor, even loopy-lanky Christopher Walken (a near-miss), is unthinkable. Then there are the simple things. A lot of which are down to Lucas' creative nous. Solo happens to be the owner of the Millennium Falcon, the ship that can do the Kessel run in fewer than 12 parsecs, for heaven's sake. He can speak Wookiee, or at least translate. And, while others had judo suits or woollen hoodies, he always looked the business; the guy just never let it slip. You may stand in awe of Vader, or Yoda, or Obi-Wan, but you want to be Han Solo.
</p>
<h2>2. Darth Vader <br> <img src="~/images/a/2.jpg"> </h2>
<p>
    With the weightlifter shoulders of Bristol's Dave Prowse holding up the long black cape, the rich tones of Mississippi's James Earl Jones making evil lines sound better than they are ("The plans you refer to will soon be back in our hands") and costumier John Mollo providing that glossy black stormtrooper/samurai-helmet-cum-gas mask, Darth Vader is the visual and dramatic lynch-pin of Star Wars, the perfect balance for Alec Guinness' tweedy, elderly goodie.

    Vader knows that if everyone else wears white, black is the ideal fashion statement. In Star Wars, he doesn't even seem to be working for the Empire - for him, it's all about becoming the last of the Jedi by offing Obi-Wan. Later, when Lucas invented more backstory, Vader gets one of the great reveals of all time ("I am your father") and - for a few moments at the end of The Empire Strikes Back - you feel Luke really ought to ditch the Rebels and join his dad to found their own Empire.

    The end of Return Of The Jedi, with Vader unmasked as a redeemable cherubic nice guy, is arguably a mistake - but what power the prequel trilogy has is all down to watching Anakin get ready for that helmet come Revenge Of The Sith's devastating conclusion.
</p>
<h2>3. Luke Skywalker <br> <img src="~/images/a/3.jpg"></h2>
<p>
    Luke could never catch a break. A heroic figure so expertly drafted that if he didn't exist, mythologist Joseph Campbell would have to crack open a new archetype to capture him, over the years the hero almost became – undeservedly – the punchline.

    It's not so much that he's the character closest to Lucas himself (Luke... Lucas... think about it), rather that, quite simply, he has the best story arc, the best fight scenes (until the prequels he's the only hero to engage in proper, full-on lightsaber duels) and even the greatest scene of the entire saga.

    Sure, Han's carbonite farewell in Empire has crushing emotional oomph, but it's the Vader/Skywalker showdown, with its climactic megaton-bombshell revelation, that stands as the entire canon's single most memorable, most iconic, most numbingly impactful moment. And it's Mark Hamill who sells it, screaming his soul-riven disbelief into the tornado; then, once he's shattered, choosing to fall despondently down that giant air duct rather than take his pop's metallic hand.

    His curtain-closing appearance in The Force Awakens, after years of speculation, confirms his importance, and teases the possibility that he might, eventually, catch a break.
</p>
<h2>4. Princess Leia <br> <img src="~/images/a/4.jpg"></h2>
<p>
    In a film, a genre, and – yes – an industry dominated by men, Leia shines as one of science-fiction's best female characters. Impatient, opinionated and completely self-assured, Princess Leia Organa serves many roles: princess, politician, soldier, military strategist. If she is occasionally reduced to the role of bikini-clad slave or handwringing observer, the ever-spiky Carrie Fisher ensures that Leia is never a snivelling damsel.

    She's handy with a blaster or, when necessary, a slave chain, so one suspects that, had Obi-Wan handed her a lightsaber and sent her after Vader, the saga would have finished by Cloud City. She’s treated with exactly the right amount of reverence in the new trilogy – as San Tekka says of Leia, now a General: “she'll always be royalty to me”.
</p>
<h2>5. Chewbacca  <br> <img src="~/images/a/5.jpg">    </h2>
<p>
    George Lucas's dog, Indiana, may have lent his name to a certain fedora-topped icon, but we owe him far more than just Dr. Jones. "Indiana used to ride on the front seat of my car," says Lucas. "He was a big dog, and when he sat there he was bigger than a person, so I had this image in my mind of this huge furry animal riding with me. That's where Chewbacca came from."

    Appropriately, the Millennium Falcon's first mate remains man's single best friend in the Star Wars universe. In a galaxy where loyalty is at a premium and double-cross and deceit run deep, it's this 200 year-old Wookiee that's its beating heart, the character you would always most want by your side when the going got tough. Here was, quite simply, the best chum an intergalactic smuggler could ever have. Not bad for a walking carpet.
</p>
<h2>6. BB-8 <br> <img src="~/images/a/6.jpeg"></h2>
<p>
    BB-8 entered the Star Wars universe as the pseudo-offspring of R2, a literal ball of joy (and sass) that rolled onto screens as early as the teaser trailer, melting the hearts of millions worldwide.

    It’s not hard to see why the characters immediately endears himself to us: BB-8 brings laughs (the lighter ‘thumbs up’ scene is a highlight) and puppyish loyalty alike. For what is essentially a spherical, black-eyed, bleeping puppet – or in the words of designer Neal Scanlon, a “Swiss Army Knife that shouldn’t be trusted” – BB-8 is recognisably human, irrevocably entwined into the human drama that unfolds. (The fact that he’s not CGI surely helps.) His outrageous success in merchanding moolah speaks volumes of his instant and universal popularity. We haven’t seen the last of this little droid.
</p>
<h2>7. Boba Fett <br> <img src="~/images/a/7.jpg">  </h2>
<p>
    Boba Fett has seen a remarkable rise (and we’re not talking about his jetpack): from minor villain (11 scenes in original trilogy) to cult fan-favourite (a solo standalone movie is currently in development). Arguably the coolest bad guy in the galaxy, Fett's icy power is sourced not in his proximity to the saga's core plot, but in his harsh facelessness and twilit ambiguity.

    This guy, we realised immediately in The Empire Strikes Back, wasn't just some Imperial wonk. He's not out for the Greater Evil. He simply wants his fistful of credits. By specifically announcing him as a bounty hunter - not just a 'mercenary' or 'gun-for-hire' - Lucas was referencing one of recent cinema's coolest archetypes: those self-serving anti-heroes taken to the peak of their popularity by Sergio Leone in his spaghetti Westerns.
</p>
<h2>8. R2-D2 <br> <img src="~/images/a/8.jpg">  </h2>
<p>
    Artoo, the little droid that could, is surely the most universally cherished character in the Star Wars pantheon. And that's certainly not because he represents anything particularly innovative in droid design. He is, as has been endlessly pointed out, a close relative of the kitchen swing-bin.

    But he is irrepressibly cute, perhaps the only robot in movie history that instils the urge to pet him. For all his cuddly design, Artoo is a useful little fellow, too: entrusted with the Death Star blueprints by Princess Leia, he's one of the saga's key players. Courageous and cool-headed, he saves the day on countless occasions. And who among us does not get a lump in their throat when the plucky droid is shanghai'd by Jawas and conks out with a bleepy gurgle so plaintive it could melt the heart of a Coruscanti ogre?
</p>
<h2>9. Yoda <br> <img src="~/images/a/9.jpg"> </h2>
<p>
    Master Yoda, the wisest and perhaps most powerful Jedi of them all, remains species indeterminate and looks like something the cat might drag in, but his lustre as the lovable font of all Jedi wisdom is undimmable. He's lived 900 years. He must know something.

    At first glance, his status as one of the most beloved characters in cinematic history seems odd: he’s a two-foot tall alien with a walking stick and a poor grasp of basic grammar or sentence structure. When we first meet him on the swamp planet of Dagobah, he seems to be little more than cutesy comic relief for the kids. But his true identity soon becomes apparent, and his training of Luke shapes the course of history. Yoda’s wisdom continues to be repeated among Padawans the world over: there is, lest we forget, no try.
</p>
<h2>10. Kylo Ren <br> <img src="~/images/a/10.jpeg"></h2>
<p>
    We need to talk about Kylo. Much of the series has been about the ongoing struggle between the dark side of the Force and the light. Usually, though, it’s characters struggling with temptations of evil, not the other way around. As the fearsome master of the Knights of Ren, Adam Driver brings extraordinary presence to a character that spends most of his time behind a mask, and cemented his status as an iconic bad guy with that awesome crossguard lightsaber.

    Star Wars has always excelled at its villains, but never has it produced one with such inner torture, such complexity, such torn loyalties, such fantastic hair.
</p>
<h2> 11. Obi-Wan Kenobi <br> <img src="~/images/a/11.jpg"></h2>
<p>
    "The Force is what gives a Jedi his power. It's an energy field created by all living things. It surrounds us and penetrates us. It binds the galaxy together." On paper, that reads pretty silly. Out of the mouth of Ben 'Obi-Wan' Kenobi, in the silver-haired guise of Alec Guinness (whose voice could varnish wood), it sounded like holy liturgy. For all the special effects, space cowboys, arch villains and comedy droids, it was Kenobi who gave Star Wars conviction. It was Guinness who made us believers.

    George Lucas had, of course, been boning up on his archetypes, and here was a classic mentor figure cut from the Merlin/Gandalf cloth - the givers of wisdom. Putting him in the hands of a classically trained British thesp who could quote Shakespeare at 'will' was assuredly building on rock. Hooded in mystery, vaguely priest-like, the strange hermit out beyond the Dune Sea gave the concept of Jedi Knights a mysticism and authority no amount of blather about "midi-chlorians" could undo.
</p>
<h2>12. Rey <br> <img src="~/images/a/12.jpeg"> </h2>
<p>
    “Who are you?” asks Maz Kanata, the Yoda-by-another-name of The Force Awakens. “I’m nobody,” replies Rey (Daisy Ridley). But we, and Maz, know better. Rey is somebody. The question is: who?

    She’s already an intriguing character when we meet her on Jakku: tough, self-reliant, living the life of a scavenger, and handy with a stick (a telling early scene sees Finn running to her rescue, before realising she can manage fairly well by herself). But as we get to know her, we realise she’s vastly more important to the future of the galaxy than perhaps initially suggested: a Force-sensitive hero whose destiny is forever intertwined with the Solos and the Skywalkers. There’s more than meets the eye with Rey.
</p>
<h2>13. Emperor Palpatine <br> <img src="~/images/a/13.jpg"></h2>
<p>
    Forget Vader - Senator/Chancellor/Emperor Palpatine is the true villain of the saga. It is he who meticulously plans the events that allow a humble Senator from Naboo to become first Supreme Chancellor of the known universe and, ultimately, unimpeachable Emperor.

    It is he who orchestrates the Clone Wars and the whittling away of the Jedi, before the hammer-blow of Order 66 and the final cull. And, if you want some hyperbole (the Emperor loves hyperbole), it is he who is the most evil character in movie history. Much of the credit must go to Ian McDiarmid (a late replacement after Clive Revill’s initial Return Of The Jedi effort). Snarling and sneering for all he's worth, McDiarmid's turn as the Emperor is a go-for-broke depiction of pure Shakespearean malevolence, one that has deservedly become something of a cultural icon.
</p>
<h2>14. Darth Maul <br> <img src="~/images/a/14.jpg"></h2>
<p>
    When he stepped from the shadows of a murky hologram, we knew little about Darth Maul; the inhabitants of the Star Wars galaxy - bar one - knew even less. We wouldn't discover much more: he was a force of pure malevolence, hellbent on destroying the Jedi.

    But Maul managed to be the highlight of Episode I, simply by virtue of being the darkest thing in a very bright, innocent movie. And of course, he had the coolest lightsaber ever. People may quibble over the specifics of how he was dispatched, but there's no question he had fulfilled his requirements to the story.
</p>
<h2>15. Finn <br> <img src="~/images/a/15.jpeg"></h2>
<p>
    In the very first teaser trailer for The Force Awakens, the first thing we see is Finn: fully garbed in Stormtrooper attire, sweating nervously under the hot Jakku sun, an orchestral stab of John Williams’ bespoke trailer score jolting us into excitement.

    As an introduction to the new post-Disney Star Wars, Finn held a groundswell of promise and intrigue; played with charisma and likeable charm by South London’s John Boyega, he more than lived up to it. Though occasionally playing second fiddle to Rey, he enjoys a satisfying arc – from soldier to insurgent – all of his own, and earns some of best moments of the film, his misplaced bravado and naive excitement stealing the show. He’s a big deal in the Resistance, you know.
</p>
<h2>16. Jabba The Hutt <br> <img src="~/images/a/16.jpg"></h2>
<p>
    It seems something of a shame that such a fabulously realised creature as Jabba The Hutt only really gets one big scene. But what a scene: Jabba holding court at his Tatooine citadel, surrounded by flunkies and scantily clad slave girls.

    How can you not want to give more screen time to a guy like that - a 600 year-old, 12-foot-long crimelord slug so grotesquely bad-ass he demands his court jester makes him laugh at least once a day or he'll eat him? Like so many of the popular minor players, he is more fascinating because he's an enigma. He is awesomely disgusting, the repulsive physical corollary to his vile trade - and then some.
</p>
<h2>17. Stormtrooper <br> <img src="~/images/a/17.jpg"></h2>
<p>
    Let's face it: without stormtroopers, Star Wars would be a lot less cool. The stormtrooper aesthetic is the perfect fusion of style and menace: crisp and gleaming white (yes, white! The bad guys wear white!). The helmet is insectoid, detached, inhuman. The equipment is state-of-the-art, from blaster rifle to belt-held thermal detonator. Significantly, it's the only costume from the original trilogy that still looks futuristic 30 years on.

    Whatever their training, stormtroopers share an absolute allegiance to the Empire. What they also share is an inability to fight effectively, something which has turned these faceless soldier-drones into hapless comedy icons. They run around the Death Star like space-age Keystone Kops, continually failing to hit their targets and, in the case of two particularly useless troopers, getting bopped over the head by our heroes.

    They might not be able to shoot for shit, but they sure can march.
</p>
<h2>18. Lando Calrissian <br> <img src="~/images/a/18.jpg"> </h2>
<p>
    Most of the Star Wars saga is for kids - the droids, the Ewoks and chittering critters of all shapes and sizes. But now and again a character appears who's just for the grown-ups. In A New Hope, it's Alec Guinness, lending his bottomless gravitas to a silly space story. In The Empire Strikes Back, it's Lando Calrissian, all snake-oil-salesman charm and snake hips, bringing sex into a series generally accused of having about as much genitalia as Action Man.

    The reason for this character’s success can be attributed to his similarity to Han Solo. Lando is his brother from another planet, if you will, and shares his characteristics exactly, down to his taste in women. Lando's a little more mature, perhaps, a little more confident, but it's no wonder that it's Han who best sums him up: "He's a card player, gambler, scoundrel. You'll like him."
</p>
<h2>19. Anakin Skywalker <br> <img src="~/images/a/19.jpg">  </h2>
<p>
    Anakin represents the riskiest proposition in the Star Wars character canon. Not only did Lucas take on demystifying Darth Vader, cinema's greatest villain, but he also decided to etch an ambitious arc - from Jake Lloyd's mechanically-minded moppet through Hayden Christensen's lovesick youth and later Dark Side apprentice - that takes on The Biggest Question: how does evil come from good?

    You might quibble with the execution ("Yippee!"), but you can't fault Lucas' narrative design, smarts - catch the subtle and not-so-subtle foreshadowings to Luke - or scope. Watching Anakin become Vader as Palpatine tells him Padme is dead may not have been the prequel experience you expected or wanted, but it is a moment of broken humanity rare in any blockbuster.
</p>
<h2>20. Grand Moff Tarkin  <br> <img src="~/images/a/20.jpeg"></h2>
<p>
    Grand Moff Tarkin was the quintessential Star Wars villain before he even spoke a line of dialogue. As the commander of Death Star, the perfectly-cast Peter Cushing cuts a terrifying figure: his stern uniform, thin, pale face, and laser-cut cheekbones struck fear into the hearts of rebel scum and ankle-biting audiences alike. And then you hear that sonorous, classically-trained English accent snarl lines like: “perhaps she would respond to an alternative form of persuasion...”

    Fun fact: Cushing found his boots to be so uncomfortable that Lucas agreed to limit shots of his feet. The actor mostly wore his own pair of comfy slippers for his scenes. Hard to be intimidating in a pair of Uggs.
</p>
<h2> 21. Poe Dameron<br> <img src="~/images/a/21.jpeg"></h2>
<p>
    “He’s the best frickin’ pilot in the galaxy,” was how Oscar Isaac described his character at a Star Wars Celebration panel in 2015. A burst of thespian hubris, perhaps – but then, we all watched The Force Awakens, and found ourselves struggling to disagree.

    Dashingly handsome, blessed with a silver tongue, and handy behind the wheel of a starfighter, there’s more than a whiff of Han Solo about him. But Dameron is his own Star Wars hero: committed to the cause of the Resistance; an encouraging mentor to defecting Stormtrooper Finn; he even survives Force-torture from Kylo Ren. If the only real criticism you weather is that you weren’t in the movie enough, you’re probably doing something right.
</p>
<h2>22. Scout Trooper <br> <img src="~/images/a/22.jpg"></h2>
<p>
    Scout Trooper still

    The highly popular Speeder Bike toy had a button which, when pressed, made the vehicle explode into tiny pieces. A gimmick, yes, but one that captures some of the appeal of the scout troopers, that speedy, woodland variant of the stormtrooper genus. Save the Emperor's reactor-core plunge, no Imperial deaths are as satisfying as the moments when these guys lose control of their rides, spinning hopelessly into Endorian trees and departing the galaxy as fireballs.

    Despite their typical Imperial cruelty, there's no denying they look totally cool, with a souped-up version of the stormtrooper kit (macro-binocular viewplate, boosted comlink, kneepads) and a high-velocity flying bike that every kid wanted to ride. Even if it blew up at the end.
</p>
<h2>23. Padmé Amidala <br> <img src="~/images/a/23.jpg"></h2>
<p>
    “I was not elected to watch my people suffer and die while you discuss this invasion in a committee!” These are the stirring words of Queen Amidala of Naboo – Padmé, to you – spoken with the kind of fiery passion you might expect from a seasoned politician, not a 14-year-old. Although elected young, Natalie Portman’s Padme kicks some serious Separatist ass, uniting her own planet before embarking on a successful career as a Senator, striving for peace during the bleak years of The Clone Wars.

    Wife to Anakin, mother to Luke and Leia, grandmother to Kylo Ren – Padmé is the true matriarch of the Star Wars saga. Oh, and she’s handy with a pistol, too. It’s safe to say you don’t mess with the woman who sees the good in the man who becomes Darth Vader.
</p>
<h2>24. Qui-Gon Jinn <br> <img src="~/images/a/24.jpg"> </h2>
<p>
    Whenever people bang on about the Jedi being a bunch of po-faced party-poopers, they clearly haven't considered Qui-Gon Jinn. While it's true that for much of The Phantom Menace Qui-Gon blithers on about the Jedi code, he also displays more charisma, cojones and better hair than any other Jedi in the saga.

    Jinn, played with calm authority by Liam Neeson, constantly bends the Jedi code to his own purposes, cheating during a game of chance with Watto and defying the Jedi Council over Anakin. Other than ol’ misery guts Anakin himself, of course, Jinn remains the saga's most maverick Jedi.
</p>
<h2> 25. C-3PO <br> <img src="~/images/a/25.jpg"></h2>
<p>
    You may think the Star Wars character you most resemble is Han Solo or Boba Fett or, if you lack self-esteem, Mouse Robot but - look into your heart - you know it is C-3PO. He's smart (six million languages), loyal (it is his intervention that saves Artoo at the Jawa yard-sale), sensitive, occasionally says the wrong thing at the wrong time (asteroid-field odds) but always has his heart in the right place (he offers to donate his circuits to his battered-up friend).

    In jettisoning his original conception of Threepio as a used-car salesman for Anthony Daniels' perfectly pitched prissy English butler, Lucas turned a robot into Star Wars' most recognisably human character, marked by universal doubts and everyday frailties. Doesn't that sound a bit like you?
</p>
<h2> 26. Jawa  <br> <img src="~/images/a/26.jpg"> </h2>
<p>
    Averaging just below a metre in height, draped in dark cloaks that obscure their faces and muttering unintelligible menaces, the Jawas are the hoodies of Tatooine. Yet, unlike their Dagenham counterparts, they possess a distinct charm beneath all the vandalistic argy bargy. They are, after all, the perfect introduction, after the terrors of Vader, to the Star Wars rogues' gallery - mischievous but never evil.

    Expanded for comedy effect in 1997's A New Hope redux, the Jawas you best know - the warrior division - are in fact the public face (well, yellow glowing eyes) of the species, the scavenging arm of a race which lives in fortresses deep in the desert to protect themselves from Tusken Raiders.
</p>
<h2>27. Greedo <br> <img src="~/images/a/27.jpg"> </h2>
<p>
    This lizardy-skinned, guppy-lipped, sub-titled bounty hunter has minimal screen-time in Star Wars - and gets killed when Han Solo blasts him through the table in his first scene. But he had a distinctive enough look to feature in the first line of Star Wars toys and, as the only baddie non-human in the blister-pack, became the favourite of many kids.

    Trivia question: who's the uncredited actor under the mask? Paul Blake, formerly of ITV soap Crossroads.
</p>

<h2> 28. Mace Windu <br> <img src="~/images/a/28.jpeg"></h2>
<p>The story of Mace Windu’s purple lightsaber is really quite simple. In a world where elegant weapons from a more civilised age were mostly either blue, green, or red, Windu’s is a fabulous shade of violet, and – as Samuel L. Jackson tells it, the actor chose it himself, personally petitioning George Lucas that it be tinged with his favourite colour so he could find himself on screen amid the carnage of the Battle of Geonosis in Attack Of The Clones. It’s a fitting grace note for one of the prequel trilogy’s coolest Jedis, one who meets that most Star Wars-y of ends: having his arm lopped off.  </p>
<h2>29. Admiral Ackbar <br> <img src="~/images/a/29.jpg"></h2>
<p>
    There are three little reasons why we love Admiral Ackbar. Three little reasons why we're quite prepared to ignore the fact that the leader of the Rebel Alliance's Endor attack fleet looks like the offspring of a fish and a turd (with the astoundingly inventive species name of Mon Calamari - tastes great with lemon juice), and overlook his initial cowardice during the Battle Of Endor. And those three little reasons are: "It's a trap!"

    Those three words are barked by Ackbar - aka puppeteer Timothy J. Rose - as the fleet comes out of hyperspace towards the end of Return Of The Jedi, only to find they've been sold a pup. And it's those three words, more than anything else about the character, that have made him oddly iconic.
</p>
<h2>30. K-2SO   <br> <img src="~/images/a/30.jpg"></h2>
<p>The first Star Wars spin-off had more new characters than you could shake Chirrut Îmwe’s stick at. But poking his head above the crowd (standing at 7'1”, quite literally) was Alan Tudyk’s immediately likeable battle droid. Reprogrammed from his Imperial roots, Kaytoo is gruffer than C-3PO and and more battle-hardened than R2-D2, but his tactless approach leads to Rogue One’s wittiest moments. And despite his blunt demeanour and coldly logical brain, he earns one of the series’ most heroic, emotional falls. </p>
